APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=travel1
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

#PayPal API Mode
# Values: sandbox or live (Default: live)

# AQxm_sEOwrMseMrUNIoBmVEcVmBoxdLbu7ny7b39K3aIHrTqAYv1RFZMEIxs7T0M30g-6vjLfopPvoZ6
# EAwkD4pvxzoLeLOq3g6m7bVjvmvBMNHYLBOOXJLT4oKkNVhZIFHxD2emkZgJ8r-ylyMbP5wd3ScEdao1

#PayPal Setting & API Credentials - sandbox
PAYPAL_MODE=sandbox

PAYPAL_SANDBOX_CLIENT_ID=AQxm_sEOwrMseMrUNIoBmVEcVmBoxdLbu7ny7b39K3aIHrTqAYv1RFZMEIxs7T0M30g-6vjLfopPvoZ6
PAYPAL_SANDBOX_CLIENT_SECRET=EAwkD4pvxzoLeLOq3g6m7bVjvmvBMNHYLBOOXJLT4oKkNVhZIFHxD2emkZgJ8r-ylyMbP5wd3ScEdao1

#PayPal Setting & API Credentials - live
#PAYPAL_LIVE_CLIENT_ID=
#PAYPAL_LIVE_CLIENT_SECRET=

# SB-Mid-client-mdZUzjwuJA9TgSc5
# SB-Mid-server-gHmcxl3Yf6KIh3Y1KdefwTrG
# G745389093

# pk_test_51QSevwRvCTR6FwFHowN9dI9ZrRviAzfGa8adSz06WDRg6L6edBA35aoFSaufgDu9BAkPfi9peWVzTot5eJOiqx4C00O056DmM9
# sk_test_51QSevwRvCTR6FwFHHoNW8AAi0EIC7MSW3WMs6K7LxyroSgE7iW4zpAiv5V6OJNsnwRNrMNnZaux3A33q2DXdschk00Ea6h6y7h

STRIPE_TEST_PK=pk_test_51R7u5ZLNknQamr53OGRDJ53MN3BdyKmbP8OvYXoIX82Wo37D5Gc3nMTvfDQMFct0G2SsnisUF9WkXaOuHe8oPl5C00j7UwTS2H
STRIPE_TEST_SK=sk_test_51R7u5ZLNknQamr53gIp8J2i6TODcErZlxOjOa8MPpXVJzMuOxKtUos2OxvjJhRGpCgtRJUSkXlibmMM8Bq3VXTaL00ZHjjEOmZ

MIDTRANS_MERCHANT_ID=G927720259
MIDTRANS_CLIENT_KEY=SB-Mid-client-cwIBpgeY9rbFbDGI
MIDTRANS_SERVER_KEY=SB-Mid-server-39zR0mT9p972NtZIVsAKw-ws
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_IS_SANITIZED=true
MIDTRANS_IS_3DS=true
